NET "UART_TXD"      LOC = "J25";
NET "UART_RXD"      LOC = "J24";

NET "LED[0]"    LOC = AC22   | IOSTANDARD = "LVCMOS25"; ## User D0
NET "LED[1]"    LOC = AC24   | IOSTANDARD = "LVCMOS25"; ## User D1
NET "LED[2]"    LOC = AE22   | IOSTANDARD = "LVCMOS25"; ## User D2
NET "LED[3]"    LOC = AE23   | IOSTANDARD = "LVCMOS25"; ## User D3
NET "LED[4]"    LOC = AB23   | IOSTANDARD = "LVCMOS25"; ## User D4
NET "LED[5]"    LOC = AG23   | IOSTANDARD = "LVCMOS25"; ## User D5
NET "LED[6]"    LOC = AE24   | IOSTANDARD = "LVCMOS25"; ## User D6
NET "LED[7]"    LOC = AD24   | IOSTANDARD = "LVCMOS25"; ## User D7

NET  "USER_CLOCK" LOC = U23 | PERIOD = 2000 ps;

